* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width:768px) {
    .nav-nav {
        margin: 0;
        padding: 0;
        list-style-type: none;
        position: relative;
        display: flex;
    }
    .nav-item {
        padding: 1.3em 2.5em;
        display: block;
        cursor: pointer;
    }
    .nav-link:hover {
        color: black;
        background: goldenrod;
    }
    .nav-list {
        background: purple;
        position: fixed;
        bottom: 0;
        width: 100%;
        display: block;
    }
    .nav-link {
        color: goldenrod;
        text-decoration: none;
        text-transform: uppercase;
    }
    .nav-brand-container {
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        margin: 1em;
        margin-bottom: 2em;
        padding: 1em
    }
    .nav-brand {
        text-decoration: none;
        font-size: 35px;
        color: goldenrod
    }
    code {
        background: purple;
        padding: 0.1em 0.5em;
        font-style: oblique;
        font-stretch: ultra-condensed;
        border-radius: 0.1em;
    }
    .container {
        margin-right: 2em;
        margin-left: 2em
    }
    .section h1 {
        text-align: center;
        font-size: 40px;
        font-family: cursive;
        padding: 0.3em 0.3em;
        margin-bottom: 1em;
        font-weight: 200;
    }
    .section h2 {
        font-size: 30px;
        padding: 0.5em 0;
        border-bottom: 2px;
        position: relative;
        font-weight: 600;
    }
    .section h2::after {
        content: "";
        position: absolute;
        top: 1.5em;
        width: 30%;
        background: linear-gradient(to left, goldenrod, purple);
        height: 0.18em;
        left: 0
    }
    .section p {
        font-size: 22px;
        font-weight: 100;
        color: rgb(170, 170, 151);
        letter-spacing: 2px;
        word-spacing: 3px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-style: italic;
    }
    img {
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        border-bottom-left-radius: 700px;
        border-bottom-right-radius: 800px;
        box-shadow: 3px 3px 10px goldenrod;
    }
    .img-container {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        margin-top: 1em
    }
    .contact-container {
        background: purple;
        padding: 0.5em;
        position: fixed;
        top: 40%;
        right: 0%;
        border-radius: 0.2em;
        /* padding: 1em 1em */
    }
    .contact-container a {
        color: goldenrod;
        font-size: 27px;
        margin-top: 2em;
    }
    .contact-container a:hover {
        color: rgb(170, 126, 15)
    }
    .fa-twitter,
    .fa-envelope,
    .fa-github {
        margin-top: 0.5em
    }
    /* .circle {
        height: 150px;
        width: 200px;
        background: green;
        color: white;
        position: absolute;
        top: 30px
    } */
}