@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
.containerDiv {
    /* width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    padding: 20px; */
    /* background-color: red; */
}

.social {
    position: relative;
}

.social::before {
    position: fixed;
    content: "";
    height: 15vh;
    right: 55px;
    top: 20%;
    width: 2px;
    background-color: #00488c;
}

.heroText {
    font-size: 70px;
    font-family: "Anton", sans-serif;
    font-display: block;
}

.web-lg {
    display: block;
}

.mob-sm {
    display: none;
}

@media (max-width: 768px) {
    .containerDiv {
        height: 40vh;
    }
    .heroText {
        font-size: 40px;
        text-align: center;
    }
    .about,
    .skills,
    .work {
        width: 100%;
        padding: 20px;
    }
    .work-project .flex {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
    }
    .project-img {
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .m-res {
        margin-bottom: 20px;
        margin-top: 20px;
        text-align: center;
    }
    .social-mobile {
        position: absolute;
        top: 25%;
        flex-direction: row;
        /* width: 100%; */
        left: 10%;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }
    .icon-holder div {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .web-lg {
        display: none;
    }
    .mob-sm {
        display: block;
    }
}

.linkText {
    color: #00488c;
    font-size: 30px;
    transition: all 350ms;
    transform: scale(1);
}

.linkText:hover {
    color: #020617;
    transform: scale(1.03);
}

.about,
.skills,
.work {
    max-width: 1024px;
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* grid-template-columns: repeat(3, 1fr); */
}

.work-project {
    width: 100%;
    padding: 10px;
    /* min-height: 70vh;
    height: 100%; */
    /* display: flex; */
    /* justify-content: space-around;
    align-items: center; */
}

.icon-holder {
    display: flex;
    align-items: center;
}

.img-width {
    width: 550px;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    cursor: pointer;
    transition: all 350ms;
    transform: scaleY(1);
}

.img-width:hover {
    transform: scaleY(1.06);
}

.project-img {
    /* width: 300px; */
}

.url-item {
    position: relative;
    font-size: 20px;
    font-weight: 700;
    margin: 5px;
}

.url-item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.18rem;
    bottom: 4px;
    left: 0;
    background-color: #00154f;
    visibility: hidden;
}

.url-item:hover::after {
    visibility: visible;
    transition: all 350ms;
}