.card {
    padding: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: #00488c;
    flex-direction: column;
    border-radius: 7px;
    border-top-right-radius: 0;
    position: relative;
    cursor: pointer;
    margin: 10px;
    transition: all 350ms;
}

.mobileCard {
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: transparent;
    color: #00488c;
    position: relative;
    cursor: pointer;
    margin: 10px;
    transition: all 350ms;
}

@keyframes bounces {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

@keyframes bounce {
    0%,
    20%,
    53%,
    80%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    40%,
    43% {
        -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }
    70% {
        -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}

.card:hover {
    /* animation: bounces 1s both; */
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* opacity: 0.5; */
    margin-top: 3px;
    color: #00154f;
}

.iconHolder {
    font-size: 30px;
    color: #00488c;
}