@tailwind base;
@tailwind components;
@tailwind utilities;
.bodyContainer {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: linear-gradient(to top right, #00154f, #f2bc94);
}